<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Meme Web Project</title>


</head>

<body>

	<header id="main-header">

		<a id="logo-header" href="#">
			<span class="site-name">The meme Project</span>
			<span class="site-desc">Web 2.0 FTW</span>
		</a> <!-- / #logo-header -->

		<nav>
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</nav><!-- / nav -->

	</header><!-- / #main-header -->


	<section id="main-content">

            <header>
				<h2>Memes</h2>
			</header>

        {% for meme in memes %}
		<meme>

            <h1><a href="meme/{{ meme.pk }}">{{ meme.title }}</a></h1>

			<a href="meme/{{ meme.pk }}"><img src="{{ meme.image.url }}" width="600" height="400"/></a>

			<div class="content">
				<p>{{ meme.author }}</p>
            </div>

		</meme> <!-- /meme -->
        {% endfor %}

	</section> <!-- / #main-content -->




</body>
</html>

