<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>{{ meme.title}}</title>


</head>

<body>

	<header id="main-header">

		<a id="logo-header" href="#">
			<span class="site-name">The meme Project</span>
			<span class="site-desc">Web 2.0 FTW</span>
		</a> <!-- / #logo-header -->

		<nav>
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a class="link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'memecreator' %}">Meme Creator</a></li>
				        <li><a href="{% url 'profile' %}">Perfil</a></li>
			</ul>
		</nav><!-- / nav -->
        <meme>
            <h1>{{ meme.title }}</h1>

			<img src="{{ meme.image.url }}" width="600" height="400"/>


			<div class="content">
                <p> Tags: {{ tag }}</p>
                <p>{{ meme.author }}</p>
            </div>
                <h1>Comentaris:</h1>
                    {% for comment in comments %}
                        <comment>
                        <h2>{{ comment.title }}</h2>
                        <h4>{{ comment.text }}</h4>
                        <h4>{{ comment.author }}</h4>

                            {% if user.is_authenticated %}


                        <div ng-app="">
                        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
                         <button ng-click="ocultar=true">Fes un comentari</button>
                            <button ng-click="ocultar=false">Ocultar</button>

                    <form ng-show="ocultar" action ="/meme/{{ meme.id }}/" method="post">{% csrf_token %}
                <p><textarea name="title" rows="1" cols="40"
                              placeholder=" Introdueix el titol"></textarea></p>
                <p><textarea name="body" rows="10" cols="40"
                              placeholder=" Introdueix el cos"></textarea><p>
                <input type="hidden" name="author" value="{{ user.username }}"/>
                    <p><button type="submit">Fes-lo</button></p></form></div>

                    {% endif %}

                        </comment>

                    {% endfor %}
                <h1>Fes un comentari:</h1>
        {% if user.is_authenticated %}
                <form action ="/meme/{{ meme.id }}/" method="post" >{% csrf_token %}
            <p><textarea name="title" rows="1" cols="40"
                          placeholder=" Introdueix el titol"></textarea></p>
            <p><textarea name="body" rows="10" cols="40"
                          placeholder=" Introdueix el cos"></textarea><p>
            <input type="hidden" name="author" value="{{ user.username }}"/>
            <p><button type="submit">Fes-lo</button></p>

            </form>
        {% else %}
                <h2>Has d'estar loggejat per fer comentaris</h2>
        {% endif %}


        </meme>
	</header><!-- / #main-header -->

