<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Meme Web Project</title>


</head>

<body>

	<header id="main-header">

		<a id="logo-header" href="#">
			<span class="site-name">The meme Project</span>
			<span class="site-desc">Web 2.0 FTW</span>
		</a> <!-- / #logo-header -->

		<nav>
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
				<li><a href="{% url 'profile' %}">Perfil</a></li>
			</ul>
		</nav><!-- / nav -->

	</header><!-- / #main-header -->
    <section id="main-content">

    {% if user.is_authenticated %}
            <h1>Profile</h1>
            <p>Benvingut: {{ user.username }} |
            <a class="link" href="{% url 'logout' %}">logout</a></p>
            {% else %}
            <p><a class="link" href="{% url 'login' %}">login</a></p>
            {% endif %}
    </section>