<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Meme Web Project</title>


</head>

<body>

	<header id="main-header">

		<a id="logo-header" href="#">
			<span class="site-name">The meme Project</span>
			<span class="site-desc">Web 2.0 FTW</span>
		</a> <!-- / #logo-header -->

		<nav>
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a class="link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'memecreator' %}">Meme Creator</a></li>
                <li><a href="{% url 'profile' %}">Perfil</a></li>
			</ul>
		</nav><!-- / nav -->

	</header><!-- / #main-header -->

<h2>Upload Succesful</h2>